
.bannerLady {
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .bannerLady {
    // position: absolute !important;
    bottom: 0; /* move up */
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 480px) {
  .bannerLady {
    bottom: 20px;
    width: 90%;
  }
    
}