
@media (max-width: 768px) {
  .rentCarousel {
    margin-top: 10px;
    margin-bottom: 20px;
    overflow-x: hidden;
    width: 100%;
  }

  .rentCarousel * {
    max-width: 100%;
    box-sizing: border-box;
  }
}

/* New animation for tenant image */
@keyframes slideXTenant {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  10% {
    transform: translateX(-60%);
    opacity: 1;
  }

  90% {
    transform: translateX(-60%);
    opacity: 1;
  }

  100% {
    transform: translateX(-150%);
    opacity: 0;
  }
}

.animate-slideXTenant {
  animation: slideXTenant 8.0s  ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}


/* New animation for landlord image */
@keyframes slideXLandlord {
  0% {

    transform: translateX(60000000%);
    opacity: 0;

  }

  10% {

    transform: translateX(50%);
    opacity: 0;
  }

  40%{ 
    transform: translateX(50%);
    opacity: 0;
  }

  60% {
    transform: translateX(-60%);
    opacity: 1;
  }

  90% {
    transform: translateX(-60%);
    opacity: 1;
  }

  100% {
    transform: translateX(-150%);
    opacity: 0;
  }
}

.animate-slideXLandlord {
  animation: slideXLandlord 8.0s  ease-in forwards;
  animation: slideXLandlord 15.0s  ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}