
@media (max-width: 768px) {
  .rentCarousel {
    margin-top: 10px;
    margin-bottom: 20px;
    overflow-x: hidden;
    width: 100%;
  }

  .rentCarousel * {
    max-width: 100%;
    box-sizing: border-box;
  }
}

@keyframes slideX {
  from {
    transform: translateX(50%);
    opacity: 20%;
  }
  to {
    transform: translateX(-60%);
    opacity: 100%;
  }
}

.animate-slideX {
  animation: slideX 1.0s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}