
  @media only screen and (max-width: 600px) {
    .container {
      display:flex;
      flex-direction: column;
      gap: 3rem;
      justify-content: center;
      align-items: center;
      
      }
      .group{
        margin-right: 2rem;
      }

      .title h1 {
        font-size: 2rem ;
        
      }
      
      .sample {
        text-align: center;
      
      }

    .form{
        margin: auto;
    }              

    .sample h3{
      font-size: 28px !important; 
      margin-left: 2rem;
    }


    .dim{
      margin: 0 0 0 4rem;
      font-size: medium;
    }
      
    .banner{
      text-align: center;

    }
    .brand {
      align-items: center;
      margin: auto !important;
    }
      
    .brand h4{
      font-size: 20px;
    }

    .brand p{
      font-size: 18px;
    }
    .banner h3{
      font-size: 28px !important; 
      margin-left: 2rem;
    }
    .sio{
      margin: 2rem 0 0 0;
      font-size: medium;
      
    }
  
      .text{
          margin:5rem;
          width: 330px;
          
          
      }
  
      .text p{
        font-size: 13px !important;
        white-space: nowrap;
        padding: 0 0 3rem 3rem;
        
        
      }
        
      .case h2{
        font-size: 25px;
        white-space: nowrap;
      }
      
      .bannersam{
        width: auto;
     
        
      }
      .bannerlady{
        width: 260px;
        padding:  6.6rem 0 0 0;
      }
          
  
  
  
      
      



      
      


      

        

        
        
        
      

      

    }

              


            


              

               
                    
    



@media (max-width: 768px) {
    .container{
        display:flex;
        gap: 4rem;
       flex-direction: column;

         
    }
  .title {
    font-size: 2rem ;
    text-align: center;
  }
  .sample {
    margin: 2rem 0 0 3rem;
    
  }

    .banner {
        margin: 2rem 0 0 3rem;
        
      }

      
    .text {
        margin: 5rem;
          
    }
    .case {
          
        margin-bottom: -1px;
        }
       


    
    
  
   

  
  




}